.footer {
    font-family: font(roboto);
    font-size: font-size(-1);
    color: color(footer-color);
    background: color(footer-bg);

    .footer-socials-holder {
        width: 17.7rem;
        margin-right: 2rem;
    }

    .main-footer-area {
        padding-top: 2.5rem;

        .footer-nav-list, .footer-contact-list {
            flex-basis: 25%;
            min-height: 18.5rem;
        }

        .footer-nav-item, .footer-contact-item {
            margin-bottom: 1.125rem;

            &:first-child {
                margin-bottom: 2.25rem;
                font-size: font-size(1);
            }

            .footer-nav__link {
                @include transition(text-decoration);

                &:hover {
                    text-decoration: underline;
                }
            }

            .footer-contact__link {
                margin-left: 1rem;
            }
        }

        .footer-contact-item {
            @include transition(color);

            &:hover {
                color: $main;
            }
        }
    }

    .copyright {
        color: $gray;
    }

    .footer-cards-holder {
        width: 17.8125rem;

        .payment-cards-list {
            @include flex(unset, unset, space-between, center);
        }
    }
}
