.footer {
    font-family: font(roboto);
    font-size: font-size(-1);
    color: color(footer-color);
    background: color(footer-bg);

    &-socials-holder {
        width: 25%;
        margin-right: 2rem;
    }

    .main-footer-area {
        padding-top: 2.5rem;
    }

    &-nav-list {
        width: 25%;
    }

    &-nav-item {
        margin-bottom: 1.125rem;

        &:first-child {
            margin-bottom: 2.25rem;
            font-size: 1rem;
        }

        &:last-child {
            margin-bottom: 4rem;
        }
    }

    &-nav__link {
        @include transition(text-decoration);

        &:hover {
            text-decoration: underline;
        }
    }

    &-contact__link {
        margin-left: 1rem;
    }

    &-contact-item {
        @include transition(color);
        @include flex(unset, unset, left, unset);

        &:not(.list-title):hover {
            color: $main;
        }
    }

    .copyright {
        width: 50%;
        color: $gray;
    }

    &-cards-holder {
        width: 17.8125rem;

        .payment-cards-list {
            @include flex(unset, unset, space-between, center);
        }
    }
}

@media only screen and (max-width: 1200px) {
    .footer {
        font-size: font-size(-3);
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        &-socials-text {
            width: 60%;
        }

        &-nav-list {
            width: 50%;

            .footer-nav-item:not(.list-title) {
                display: none;
            }

            &.visible .footer-nav-item,  {
                display: block;
                // text-align: center;
            }
        }

        &-nav-item {
            text-align: center;

            &:last-child {
                margin-bottom: 2rem;
            }
        }

        .copyright {
            width: 100%;
            padding: 1rem 0;
            text-align: center;
        }

        .edge_black {
            height: 6rem;
        }

        &-cards-holder {
            width: 75%;
            margin: 0 auto;
            margin-bottom: 2rem;
        }   

        &-socials {
            &-text {
                width: 100%;
                padding-top: 0.5rem;
                text-align: center;
            }

            &-holder {
                width: 50%;
                margin: 0 auto;
            }
        }
    }

    .payment-cards-img {
        height: 1.5rem;
    }
}
