.header-nav {

    &-list {
        width: 40rem;
        margin-right: 4rem;
        @include flex(wrap, unset, space-between, center);
    }

    &-item {
        min-height: 2rem;
        @include flex(unset, unset, center, center);
    }
    
    &__link {
        text-transform: uppercase;
        font-weight: 500;
        @include transition(color);
        
        &:hover {
        color: $main;
        }
    }
}
