.header {
    width: 100%;
    height: 10rem;
    color: color(header-color);
    background-color: color(header-bg);

    &_fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2000;
        background-color: color(header-bg_fixed);
        box-shadow: $main;
    }

    &-contact {
        &-list {
            margin-right: -0.3rem;
            font-family: font(roboto);
            font-size: font-size(-1);

            @include flex(unset, unset, space-between, center);
        }

        &-item {
            margin-right: 0.3rem;

            @include flex(unset, unset, space-between, center);

            &:nth-child(1), &:nth-child(2) {
                display: none;
            }

            &:nth-child(3) {
                padding-right: 1.5rem;
            }

            &:last-child {
                padding-left: 1.5rem;
                border-left: 1px solid #fff;
            }
        }

        &__link {
            margin-left: 2.2rem;

            @include transition(text-decoration);

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &-socials-holder {
        width: 11.5rem;
    }

    .main-header-area {
        height: 6.3rem;

        @include flex(unset, unset, space-between, center);

        .header-btn {
            &-list {
                width: 6.625rem;

                @include flex(unset, unset, space-between, center);
            }

            &-item {
                @include transition(color);

                &:hover {
                    color: $main;
                }
            }
        }
    }
}

.side-bar-start {
    position: relative;
}

.wrapper {
    position: absolute;
    z-index: 10;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;

    @include transition(visibility, opacity);

    &_search-form {
        top: 160px;
        right: 20%;
    }

    &_side-bar_right, &_table_short {
        top: 0;
        right: 0;
    }

    &_side-bar_left {
        top: 0;
        left: 0;
    }

    &_table_short {
        width: 60vw;
    }

    &_search-form, &_side-bar_right, &_side-bar_left, &_table_short  {
        &_active {
            visibility: visible;
            opacity: 1;
        }
    }
}

.work-list {
    @include flex(unset, unset, space-between, center);

    li {
        margin-right: 5px;
    }
}

@media only screen and (max-width: 768px) {
    .header-nav {
        &-list {
            position: absolute;
            top: -130%;
            left: 50%;
            width: 25%;
            height: auto;
            margin-left: 0;
            opacity: 0;
            transform: translateX(-50%);

            @include flex(unset,column,center, flex-start);
            @include transition(top);

            &_active {
                top: 10rem;
                z-index: 10;
                opacity: 1;
            }
        }

        &-item {
            width: 100%;
            margin-bottom: 0.5rem;
            text-align: center;
            background-color: $main;
            border-radius: none;

            @include transition(color background-color box-shadow);

            &:hover {
                color: $main;
                background-color: white;
                box-shadow: 0 0 0 3px $main;
            }
        }

        &__link {
            width: 100%;
        }
    }

    .wrapper_table_short {
        width: 75vw;
    }
}

@media only screen and (max-width: 480px) {
    .table_short-wrapper {
        width: auto;
    }
}

@media only screen and (max-width: 320px) {
    .header-socials-holder {
        margin: 0 auto;
    }

    .welcome-information-holder {
        margin: 0;
    }

}