.logo {
    font-family: font(ribey);
    font-size: 24px;
    line-height: 150%;
    color: color(logo-color);
    letter-spacing: 1px;
    background-color: color(logo-bg);

    @include transition(color);

    &:hover {
        color: color(logo-color_hovered);
    }
}

.nav-block {
    width: 50%;
    height: 100%;
    margin-left: 3rem;

    .nav-list {
        font-size: 1.125rem;

        @include flex(wrap, unset, center, center);

        .nav-item {
            min-height: 2rem;
            border-radius: 5px;

            @include transition(box-shadow);
            @include flex(unset, unset, center, center);

            .nav-item__link {
                width: 100%;
                height: 100%;
                padding: 0.2rem 1.45rem;
            }

            &:hover {
                box-shadow: 0 0 0 3px color(header-item-shadow);
            }
        }
    }
}

.header {
    width: 100%;
    color: color(header-color);
    background-color: color(header-bg);

    .header-holder {
        width: 100%;
        min-height: 7rem;
        padding: 0.5rem 0;

        @include flex(unset, unset, space-between, center);
    }
}

.header_fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: color(header-bg_fixed);

    .header-holder {
        min-height: 5rem;
    }
}
