.menu-btn {
    position: relative;
    display: none;
	z-index: 3;
	width: 50px;
	height: 50px;

    span {
		position: absolute;
		top: 50%;
		margin-top: -5px;
		width: 100%;
		height: 5px;
		background-color: color(burger-bg);
        
        @include transition(background-color);

		&::before {
			position: absolute;
			top: 50%;
			margin-top: -5px;
			width: 100%;
			height: 5px;
			background-color: color(burger-bg);
			content: '';
			display: block;
			transition: 0.2s;
			transform: translateY(-10px);
		}

        &::after {
			position: absolute;
			top: 50%;
			width: 100%;
			height: 5px;
			background-color: color(burger-bg);
			content: '';
			display: block;
			transition: 0.2s;
			transform: translateY(10px);
		}
	}

    &:hover {
        span, span::before, span::after {
            background-color: color(burger-bg_hovered);
        }
    }
}

.menu-btn_active {
	span {
		height: 0;

        &:before {
			margin-top: 0;
			transform: rotate(-45deg);
			transform-origin: center;
		}

		&:after {
            transform: rotate(45deg);
			transform-origin: center;
        }
    }
}
