.side-bar {
    width: 18.75rem;
    padding-right: 2.5rem;
    padding-left: 1rem;
    // margin-top: -3.125rem;
    font-size: font-size(-1);
    background-color: color(body-bg);

    @include flex(unset,column,space-between, flex-start);
   
    &_right {
        transform: translateX(20rem);

        @include transition(transform);
        @extend .side-bar;

        &_active {
            transform: translateX(0);
        }
    }

    &-item {
        width: 100%;
        padding: 3.125rem 0;
        border-bottom: $grayBorder;

        &:first-child {
            padding-top: 0;
        }

        .categories-nav {
            &-list {
                margin-bottom: -1.75rem;
            }

            &-item {
                margin-bottom: 1.75rem;
                font-family: font(roboto);
                list-style-position: inside;
                list-style-type: square;

                &::first-letter {
                    text-transform: capitalize;
                }
            }

            &__link {
                @include transition(text-decoration);

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &-item:last-child {
        border-bottom: none;
    }

    .add {
        &-holder {
            width: 100%;
            height: 16.875rem;
            margin-top: 3rem;

            @include flex(unset,normal,center, center);
        }

        &-slogan {
            width: 81%;
            height: 50%;
            color: white;
            background-color: #232323;
            box-shadow: 0 0 0 3px #a1a1a1, 0 0 0 6px #232323;

            @include flex(unset,column,center, center);

            .star-list {
                font-size: xx-small;

                @include flex(unset,normal,center, center);

                .star-item:nth-child(2) {
                    margin: 0 10px 10px;
                }
            }
        }

        &__info {
            font-family: font(droid);
            text-transform: uppercase;
        }

        &__line {
            width: 1.3125rem;
            height: 0.25rem;
            background-color: white;
        }

        &__description {
            font-family: font(raleway);
            font-weight: 500;
        }

        &__info, &__line, &__description {
            margin-top: 1rem;
        }
    }

    

    &__element {
        height: $sbarElHeight;
        border: $grayBorder;

        @include flex(unset,normal,center,center);
        @include transition(border-color);
    }
}

.size {
    &-list {
        width: 100%;
        margin: -5px -8px;
        @include flex(wrap,normal,left,flex-start);
    }

    &-item {
        position: relative;
        width: 2.8125rem;
        margin: 2.5px 4px;

        &:first-child {
            display: none;
        }
    }
}

.color {
    &-list {
        width: 100%;
        margin-bottom: -1.125rem;

        @include flex(unset,column,left,flex-start);
    }

    &-item {
        position: relative;
        // width: 100%;
        margin-bottom: 1.125rem;

        &:first-child {
            display: none;
        }
    }
}
