.overlay-img-holder {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;

    @include flex(unset,unset,flex-end, flex-start);
    @include transition(opacity);
}

.product {
    &-list {
        width: 100%;

        &_top, &_best, &_featured, &_shop, &_related {
            @extend .product-list;
        }

        &_best, &_related {
            height: 100%;

            @include flex(unset,unset,space-between,center);
        }

        &_featured, &_grid {
            @include flex(wrap,unset,space-between,unset);
        }

        &_top {
            margin-bottom: -1.75rem;
        }

        &_featured {
            overflow: hidden;
        }

        &_grid {
            margin-bottom: 1.4rem;
        }

        &_related {
            height: 38.25rem;
            padding-top: 2rem;
        }
    }

    &-item {
        margin-bottom: 3.25rem;

        @include flex(unset,column,left, flex-start);

        &_top {
            height: 100%;
        }

        &_top, &_shop-list {
            width: 100%;
            margin-bottom: 1.75rem;
        }

        &_short {
            width: 19%;

            @extend .product-item;
        }

        &_shop-list {
            margin-bottom: 1.875rem;

            @include flex(unset,unset,space-between,unset);
        }

        &_grid {
            width: 23.5%;

            @extend .product-item;
        }

        &_related {
            min-height: 38.25rem !important;
            margin-right: 2rem;
        }
    }

    &-link {
        &_top {
            width: 100%;
            height: max-content;
            margin-right: -0.875rem;

            @include flex(unset,unset,space-between, flex-start);
        }

        &_wishlist {
            @include flex(unset,unset,space-between, center);
        }
    }

    &-card {
        &_shop {
            padding-bottom: 3rem;
            padding-left: 1rem;

            @include flex(unset,unset,stretch, flex-start);
        }

        &_short {
            @include flex(unset,column,left, flex-start);
        }

        &_shop, &_short {
            width: 100%;
        }
    }

    &-img {
        &-list {
            padding: 0.6rem 0;
            border: $grayBorder;

            @include flex(unset,unset,space-between, center);
        }

        &-item {
            width: 7.5rem !important;
        }

        &-carousel-holder {
            width: 39%;
            margin-right: 3.125rem;
        }

        &-holder {
            position: relative;
            background: color(body-color);

            @include transition(opacity);

            &:hover {
                opacity: 0.8;
            }

            &_small, &_shop, &_short, &_shop-list, &_grid, &_slider, &_related, &_table {
                @extend .product-img-holder;
            }

            &_shop, &_short, &_grid, &_related {
                width: 100%;
            }

            &_short, &_grid {
                &:hover .overlay-img-holder {
                    opacity: 1;
                }
            }

            &_grid, &_related {
                height: 25rem;
            }

            &_small {
                width: 5rem;
                height: 6.25rem;
                margin-right: 1rem;
            }

            &_shop {
                height: 37.5rem;
            }

            &_shop-list {
                min-width: 16.875rem;
                height: 25.5rem;
                margin-right: 3.125rem;
            }

            &_short {
                height: 28.125rem;
            }


            &_slider {
                width: 5.6875rem;
                height: 6.9375rem;
                margin-right: 2rem;
            }

            &_table {
                &_comparison {
                    margin: 2rem auto;

                    @extend .product-img-holder_small;
                }
            }
        }
    }

    &-carousel-holder {
        width: 100%;
        margin-top: 2rem;

    }

    &-info-holder {
        &_top, &_shop {
            width: 60%;
            padding: 1rem 0 0.5rem;
        }

        &_short {
            width: 100%;
            padding-top: 1.3rem;
        }

        &_shop-list {
            width: 73%;
        }

        &_shop-list, &_grid {
            padding: 2rem 0 0.5rem;
        }

        // &_grid {
        //     width: 100%;
        // }
    }

    &-price-ft-rate-holder {
        width: 100%;
        margin-top: 1.5rem;

        @include flex(wrap,unset,left, center);
    }

    &__title {
        font-weight: 600;

        &_top {
            padding-bottom: 2rem;
            font-weight: 500;
        }

        &_short {
            width: 100%;
            font-size: font-size(-1);

            @extend .product__title;
        }
    }

    &__price {
        font-family: font(droid);
        color: $main;

        &::before {
            content: '$';
        }

        &_top, &_short, &_shop, &_shop-list {
            @extend .product__price;
        }

        &_top, &_short, &_shop-list {
            font-size: font-size(2);
        }

        &_short {
            margin: 0.5rem 0 1.2rem;
        }

        &_shop {
            margin-right: 1rem;
            font-size: font-size(3);
        }

        &_shop-list {
            margin: 1rem 0;
        }
    }

    &__rate {
        img {
            height: 100%;
        }

        &_midle {
            height: 0.8rem;
        }

        &_small {
            height: 0.625rem;
        }
    }

    &__description {
        max-width: 31rem;
        margin-top: 1.7rem;
        margin-bottom: 3rem;
        @extend .description;

        &_shop-list {
            width: 100%;
            margin-top: 1.7rem;
            margin-bottom: 4rem;
            @extend .description;
        }
    }

    &__categorie {
        color: color(product-categorie-color);
    }

    &-btn-holder {
        &_shop {
            width: $cardElHolderWidth;
            margin-top: 2rem;
        }

        &_shop-list {
            width: 17rem;
            margin-top: 1.5rem;
        }

        &_comparison {
            @include flex(unset,column,center, center);
        }
    }
}



@media only screen and (max-width: 1200px) {
    .product-img-holder {
        &_short {
            height: 20rem;
        }
    }
}

@media only screen and (max-width: 768px) {
    .product {
        &-img-holder {
            &_short,  &_grid, &_related, &_shop {
                height: 16rem;
            }
        }

        &-info-holder {
            &_short {
                width: 100%;
            }
        }

        &__title_short {
            min-height: 2em;
        }

        &__description_shop-list {
            margin-bottom: 1rem;
        }

        &-btn-holder_shop {
            width: 70%;
            margin-top: 0;
        }

        &__description {
            margin-bottom: 1rem;
        }

        &-list_related {
            height: 30rem;
        }

        &-item_related {
            min-height: 30rem !important;
        }
    }
}

@media only screen and (max-width: 480px) {
    .product {
        &-list {
            &_best {
                flex-wrap: wrap;
                align-items: flex-start;
            }

            &_featured {
                max-height: 280px;
            }
        }

        &-item {
            &_best:first-child {
                width: 100%;
            }

            &_featured, &_grid {
                width: 32%;
            }

            &_best {
                width: 24%;
            }
        }

        &-img {
            &-holder {
                &_shop-list, &_grid, &_related {
                    height: 12rem;
                }

                &_shop-list {
                    min-width: 9rem;
                }
            }

            &-item {
                width: 7rem !important;
            }
        }

        &__categorie {
            margin-top: 1rem;
        }

        &__description {
            display: none;
        }

        &-btn-holder_shop {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 320px) {
    .product {
        &-item {
            &_best, &_grid {
                width: 48%;
                margin-bottom: 2rem;
            }
        }

        &__description_shop-list, .product-btn-holder_shop-list {
            display: none;
        }

        &-img {
            &-holder {
                &_shop {
                    height: 10rem;

                    &:hover .overlay-img-holder {
                        opacity: 1;
                    }

                    &-list:hover .overlay-img-holder {
                        opacity: 1;
                    }
                }

                &_slider {
                    width: 3rem;
                    height: 4rem;
                }

                &_table {
                    margin-bottom: 1rem;

                    &_wishlist {
                        display: none;
                    }
                }
            }

            &-carousel-holder {
                width: 32%;
                margin-right: 1.5rem;
            }

            &-item {
                width: 4rem !important;
            }
        }

        &-btn-holder_shop, &-btn-holder_shop-list {
            display: none;
        }

        &-link_wishlist {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}
