.overlay-img-holder {
    opacity: 0;

    @include flex(unset,normal,right, flex-start);
    @include transition(opacity);
}

.product {
    &-list {
        width: 100%;

        &_top, &_best, &_featured, &_shop, &_related {
            @extend .product-list;
        }

        &_top {
            margin-bottom: -1.75rem;
        }

        &_best, &_related {
            height: 100%;

            @include flex(unset,normal,space-between,center);
        }

        &_featured, &_grid {
            @include flex(wrap,normal,space-between,unset);
        }

        &_featured {
            margin-bottom: -3.25rem;
        }

        &_grid {
            margin-bottom: 1.4rem;
        }

        &_related {
            height: 38.25rem;
            padding-top: 2rem;
        }
    }

    &-item {
        height: 100%;

        &_top {
            @extend .product-item;
        }

        &_top, &_shop-list {
            width: 100%;
            margin-bottom: 1.75rem;
        }

        &_best, &_featured {
            width: 19%;
        }

        &_featured {
            margin-bottom: 3.25rem;
        }

        &_shop-list {
            margin-bottom: 1.875rem;

            @include flex(unset,normal,space-between,unset);
        }

        &_grid {
            width: 23.5%;
            margin-bottom: 3.25rem;
        }

        &_related {
            min-height: 38.25rem !important;
            margin-right: 2rem;
        }
    }

    &-link {
        &_top {
            width: 100%;
            height: 6.3125rem;
            margin-right: -0.875rem;

            @include flex(unset,normal,space-between, flex-start);
        }

        &_wishlist {
            @include flex(unset,normal,space-between, center);
        }
    }

    &-card {
        &_shop {
            padding-bottom: 3rem;
            padding-left: 1rem;

            @include flex(unset,normal,stretch, flex-start);
        }

        &_short {
            @include flex(unset,column,left, flex-start);
        }

        &_shop, &_short {
            width: 100%;
        }
    }

    &-img {
        &-list {
            padding: 0.6rem 0;
            border: $grayBorder;

            @include flex(unset,normal,space-between, center);
        }

        &-item {
            width: 7.5rem !important;
        }

        &-carousel-holder {
            width: 39%;
            margin-right: 3.125rem;
        }

        &-holder {
            background: color(body-color);

            @include transition(opacity);

            &:hover {
                opacity: 0.8;
            }

            
            &_top, &_shop, &_short, &_shop-list, &_grid, &_slider, &_related, &_table {
                @extend .product-img-holder;
            }

            &_top {
                width: 7rem;
                height: 100%;
                margin-right: 0.875rem;
            }

            &_shop {
                width: 100%;
                height: 37.5rem;
            }

            &_shop-list {
                width: 23.5%;
                height: 25.5rem;
                margin-right: 3.125rem;
            }

            &_short, &_grid {
                width: 100%;

                &:hover .overlay-img-holder {
                    opacity: 1;
                }
            }

            &_short {
                height: 28.125rem;
            }

            &_grid, &_related {
                width: 100%;
                height: 25rem;
            }

            &_slider {
                width: 5.6875rem;
                height: 6.9375rem;
                margin-right: 2rem;
            }

            &_table {
                width: 5rem;
                height: 6.25rem;

                &_comparison {
                    margin: 0 auto;

                    @extend .product-img-holder_table;
                }

                &_wishlist {
                    margin-right: 1rem;

                    @extend .product-img-holder_table;
                }
            }

        }
    }

    &-carousel-holder {
        width: 100%;
        margin-top: 2rem;

    }

    &-info-holder {
        &_top {
            height: 100%;

            @include flex(unset,column,space-between, flex-start);
        }

        &_shop {
            width: 60%;
        }

        &_top, &_shop {
            padding: 1rem 0 0.5rem;
        }

        &_short {
            padding-top: 1.3rem;
        }

        &_shop-list {
            width: 73%;
        }

        &_shop-list, &_grid {
            padding: 2rem 0 0.5rem;
        }
    }

    &-price-ft-rate-holder {
        width: 100%;
        margin-top: 1.5rem;

        @include flex(wrap,normal,left, center);
    }

    &__title {
        font-weight: 600;

        &_top {
            font-weight: 500;
        }

        &_short {
            font-size: font-size(-1);

            @extend .product__title;
        }
    }

    &__price {
        font-family: font(droid);
        color: $main;

        &::before {
            content: '$';
        }

        &_top, &_short, &_shop, &_shop-list {
            @extend .product__price;
        }

        &_top, &_short, &_shop-list {
            font-size: font-size(2);
        }

        &_short {
            margin: 0.5rem 0 1.2rem;
        }

        &_shop {
            margin-right: 1rem;
            font-size: font-size(3);
        }

        &_shop-list {
            margin: 1rem 0;
        }
    }

    &__rate {
        img {
            height: 100%;
        }

        &_midle {
            height: 0.8rem;
        }

        &_small {
            height: 0.625rem;
        }
    }

    &__description {
        max-width: 31rem;
        margin-top: 1.7rem;
        margin-bottom: 3rem;
        @extend .description;

        &_shop-list {
            width: 100%;
            margin-top: 1.7rem;
            margin-bottom: 4rem;
            @extend .description;
        }
    }

    &__categorie {
        color: color(product-categorie-color);
    }

    &-btn-holder {
        &_shop {
            width: $cardElHolderWidth;
            margin-top: 2rem;
        }

        &_shop-list {
            width: 17rem;
            margin-top: 1.5rem;
        }
    }
}

.card-marker {
    &-list {
        height: 100%;
    }

    &-item {
        width: 2.5rem;
        height: 2.5rem;
        margin: 0.5rem;
        color: color(btn-color);
        background-color: color(btn-bg);
        border: none;

        @include transition(background-color);
        @include flex(unset, normal, center, center);

        &:hover {
            background-color: darken(color(btn-bg), 20%);
        }
    }
}
