.pagination {
    &-line {
        width: 100%;
        border-top: $grayBorder;
        border-bottom: $grayBorder;

        @include flex(unset,unset,center,center);
    }

    &-list {
        width: 15rem;
        padding: 1rem 1.5rem;
        border-right: $grayBorder;
        border-left: $grayBorder;

        @include flex(unset,unset,space-between,center);
    }

    &__link {
        @include transition(color);

        &:hover {
            color: color(pagination-color_hovered);
        }
    }
}
