.rate {
    &-list {
        padding: 0 8.125rem 0 1.5rem;

        @include flex(unset,unset,space-between, flex-start);
    }

    &-item {
        padding: 0 0.5rem;
        border-right: $orangeBorder;

        &:last-child {
            border-right: none;
        }
    }
}

@include rateList(5);

@media only screen and (max-width: 768px) {
    .rate {
        &-list {
            padding: 0 1rem;
        }
    }
}    

@media only screen and (max-width: 480px) {
    .rate {
        &-list {
            // flex-wrap: wrap;
            width: 100%;
            padding: 1rem 0 0;
        }
    }
}    
