.select {
    width: $cardElHolderWidth;
    padding: 1em;
    border: $grayBorder;
    -ms-appearance: none;
    appearance: none !important;

    @include transition(border-color);

    &::-ms-expand {
        display: none;
    }

    &:hover {
        border-color: $main;
    }

    &_size {
        background: transparent url("/img/arrow-down.png") no-repeat 96.5% center;
        background-size: 0.5rem;
    }

    &_color {
        background: transparent url("/img/square.png") no-repeat 96.5% center;
        background-size: 1.25rem;
    }

    &:first-child {
        margin-right: 2em;
    }

    &-holder {
        width: 100%;
        padding-top: 3rem;
        overflow: hidden;
        border-top: $grayBorder;

        @include flex(wrap,unset,left,flex-start);
    }

    &_sort-line {
        margin-right: 6rem;
        background-color: color(body-bg);
        border: none;
    }
}

@media only screen and (max-width: 768px) {
    .select {
        &_sort-line {
            margin-right: 0;
        }

        &_color {
            background-size: 0.5rem;
        }

        &-holder {
            justify-content: space-between;
            padding-top: 1rem;
            border-top: none;
        }
    }
}

@media only screen and (max-width: 480px) {
    .select {
        width: 100%;

        &:first-child {
            margin-right: 0;
            margin-bottom: 1rem;
        }
    }
}
