.sort-line {
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    color: color(sort-line-color);
    border-bottom: $grayBorder;

    @include flex(wrap,unset,space-between, center);
}
