.count-holder {
	width: $cardElHolderWidth;
	height: element-height(m);
	margin: 2rem 0;
}

.ui-spinner {
	user-select: none;
	position: relative;
	text-align: left;
	padding: 0;
	width: 100%;
	border: $grayBorder;
	height: 100%;
	display: inline-block;
}

.ui-button {
	position: absolute;
	top: 0;
	width: 3.5rem;
	height: 100%;
	display: block;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	font-family: arial;
	color: #3e1e02;
	text-decoration: none;

	@include flex(unset, unset, center, center);

	&:hover {
		background: $main;
	}
}

.ui-spinner-up {
	right: 0;
	border-left: $grayBorder;
}

.ui-spinner-down {
	left: 0;
	border-right: $grayBorder;
}

.ui-spinner-input {
	display: inline-block;
	font-size: 14px;
	color: #000;
	line-height: 32px;
	height: 100%;
	padding: 0;
	outline: none;
	border: none;
	width: 100%;
	text-align: center;
	font-size: font-size(2);
}

@media only screen and (max-width: 768px) {
	.count-holder {
    	width: 100%;
		margin: 1rem 0;
	}
}
