.table {
    &_comparison {
        margin: 0 1rem 11rem;

        tbody {
            display: flex;

            tr {
                @include flex(unset,column,unset, unset);
            }

            tr:first-child {
                td {
                    position: relative;
                    width: 29.5rem;
                    padding-left: 10.625rem;

                    &::before {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 8.5rem;
                        white-space: nowrap;
                        border-right: $grayBorder;
                    }

                    &:nth-of-type(1):before {
                        content: "Products";
                    }
                    
                    &:nth-of-type(2):before {
                        content: "Image";
                    }
                    
                    &:nth-of-type(3):before {
                        content: "Price";
                    }
                    
                    &:nth-of-type(4):before {
                        content: "Rating";
                    }
                    
                    &:nth-of-type(5):before {
                        content: "Model";
                    }
                    
                    &:nth-of-type(6):before {
                        content: "Brand";
                    }
                    
                    &:nth-of-type(7):before {
                        content: "Summary";
                    }
                    
                    &:nth-of-type(8) {
                        &:before {
                          content: "Add";
                        }
                    }
                }
            }
        }
    }

    &_wishlist {
        margin: 0 1rem 7rem;
    }

    &_calculation {
        border: $darkGrayBorder;

        &_footer {
            border-top: $darkGrayBorder;
        }
    }

    &_order {
        border: $darkGrayBorder;

        td, th {
            height: 1em;
            padding-bottom: 1em;

            &:first-child {
                width: 1.5rem;
            }

            &:last-child {
                padding-right: 1.5rem;
                text-align: right;
            }
        }

        thead, tbody {
            tr:last-child {
                td, th {
                    &:not(:first-child) {
                        border-bottom: $grayBorder;
                    }
                }
            }
        }

        tbody {
            tr:first-child {
                height: 2em;
                td {
                    vertical-align: text-bottom;
                }
            }

            tr:last-child {
                height: 3em;
                td {
                    vertical-align: text-top;
                }
            }
        }

        tfoot {
            font-size: font-size(2);
            font-weight: 500;

            td {
                height: 5rem;
                vertical-align: middle;
            }
        }

        &-name {
            padding-top: 2rem;
        }
    }

    &_short {
        background-color: color(body-bg);
        border: $collectionBorder;
        transform: translateY(-50rem);

        @include transition(transform);

        &:hover {
            border-color: $main;
        }

        &_active {
            transform: translateY(0);
        }

        td:first-child {
            min-width: 50%;
        }
    }

    &-cell {
        min-height: 3.1875rem;
        padding: 1.125rem 1.8rem;
        line-height: 1.5;
        vertical-align: middle;
        border: $grayBorder;

        &_product, &_size, &_total, &_header, &_price, &_btn {
            @extend .table-cell;
        }

        &_product {
            width: 50%;
        }

        &_size, &_total {
            width: 11.875rem;
        }

        &_header {
            width: 8.75rem;
            text-align: center;
        }

        &_price {
            font-size: font-size(1);
            text-align: center;
        }

        &_btn {
            min-width: 32.63%;
        }

        &-holder_horizontal {
            @include flex(unset,normal,space-around, center);
        }

        &-holder_right {
            min-height: element-height(s);
            margin: 1rem 0;

            @include flex(unset,normal,right, center);
        }

        &_calculation {
            &-key {
                padding-left: 2rem;
                text-align: left;
            }

            &-key, &-text-value {
                font: font(roboto);
            }

            &-value, &-text-value {
                padding-right: 2rem;
                text-align: right;
            }

            &-key, &-value, &-text-value {
                vertical-align: middle;
            }

            &-text-value {
                font-size: font-size(-1);
            }

            &-value {
                font-size: font-size(2);
            }
        }

        &_comparison {
            &_description {
                min-height: 8rem;
            }

            &_price {
                font-size: font-size(1);

                &::before {
                    @extend .text;
                }
            }
        }
    }

    &-row {
        min-height: 3.625rem;

        &_product-img {
            min-height: 11.875rem;
        }

        &_btn {
            min-height: 6.25rem;
            text-align: center;
        }

        &_calculation_wide {
            height: 5.05rem;
        }
    }

    &-column_product {
        width: 25.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .table {
        &_short, &_wishlist, &_cart {
            thead, tbody, th, td, tr {
                display: block;
            }

            thead tr, tfoot tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

            tr:nth-of-type(odd) { 
                background: color(table-row-bg);

                td {
                    border-top: 1px solid white;
                }
            }

            tr:nth-of-type(even) { 
                td {
                    border-top: $grayBorder;
                }
            }

            td { 
                position: relative;
                padding-left: 40%;
                text-align: center;
                border: none;
                
                &:before { 
                    position: absolute;
                    top: 1.125rem;
                    left: 6px;
                    width: 25%;
                    margin-right: 1rem;
                    font-size: font-size(-1);
                    text-align: left;
                    white-space: nowrap;
                }
            }


            .table-cell_product, td:first-child {
                min-width: 100%;
            }

            .table-cell-holder_horizontal {
                flex-wrap: wrap;
                width: 100%;
            }
        }

        &_short {
            td:nth-of-type(1):before { content: "Products"; }
            td:nth-of-type(2):before { content: "Quantity"; }
            td:nth-of-type(3):before { content: "Price"; }
            td:nth-of-type(4):before { content: "Total"; }
        }

        &_wishlist {
            td:nth-of-type(1):before { content: "Products"; }
            td:nth-of-type(2):before { content: 'Color & Size'; }
            td:nth-of-type(3):before { content: "Price"; }
        }

        &_cart {
            td:nth-of-type(1):before { content: "Products"; }
            td:nth-of-type(2):before { content: "Color & Size"; }
            td:nth-of-type(3):before { content: "Quantity"; }
            td:nth-of-type(4):before { content: "Price"; }
            td:nth-of-type(5):before { content: "Total"; }
        }

        &_comparison tbody tr:first-child td {
            width: 21.5rem;
        }
    }
}

@media only screen and (max-width: 480px) {
    .table_comparison tbody {
        flex-wrap: wrap;

        tr, tr:first-child {
            margin-bottom: 1rem;

            td {
                position: relative;
                width: 100%;
                padding-left: 10.625rem;

                &::before {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 8.5rem;
                    white-space: nowrap;
                    border-right: $grayBorder;
                }

                &:nth-of-type(1):before {
                    content: "Products";
                }
                
                &:nth-of-type(2):before {
                    content: "Image";
                }
                
                &:nth-of-type(3):before {
                    content: "Price";
                }
                
                &:nth-of-type(4):before {
                    content: "Rating";
                }
                
                &:nth-of-type(5):before {
                    content: "Model";
                }
                
                &:nth-of-type(6):before {
                    content: "Brand";
                }
                
                &:nth-of-type(7):before {
                    content: "Summary";
                }
                
                &:nth-of-type(8) {
                    &:before {
                        content: "Add";
                    }
                }
            }
        }

        tr:nth-of-type(even) { 
            background: color(table-row-bg);
        }
    }
}

@media only screen and (max-width: 320px) {
    .table_comparison tbody tr td::before, .table_comparison tbody tr:first-child td::before {
        width: 4.5rem;
    }

    .table_comparison tbody tr td, .table_comparison tbody tr:first-child td {
        padding-left: 6rem;
    }
}
