.table {
    &_comparison {
        margin: 0 1rem 11rem;
    }

    &_wishlist {
        margin: 0 1rem 7rem;
    }

    &_calculation {
        border: $darkGrayBorder;

        &_footer {
            border-top: $darkGrayBorder;
        }
    }

    &-cell {
        padding: 1.125rem 1.8rem;
        line-height: 1.5;
        vertical-align: middle;
        border: $grayBorder;

        &_product, &_size, &_total, &_header, &_price, &_btn {
            @extend .table-cell;
        }

        &_product {
            width: 35.96%;
        }

        &_size, &_total {
            width: 11.875rem;
        }

        &_header {
            width: 8.75rem;
            text-align: center;
        }

        &_price {
            font-size: font-size(1);
            text-align: center;
        }

        &_btn {
            width: 32.63%;
        }

        &-holder_horizontal {
            @include flex(unset,normal,space-around, center);
        }

        &-holder_right {
            height: element-height(s);
            margin: 1rem 0;

            @include flex(unset,normal,right, center);
        }

        &_calculation {
            &-key {
                padding-left: 2rem;
                text-align: left;
            }

            &-key, &-text-value {
                font: font(roboto);
            }

            &-value, &-text-value {
                padding-right: 2rem;
                text-align: right;
            }

            &-key, &-value, &-text-value {            
                vertical-align: middle;
            }

            &-text-value {
                font-size: font-size(-1);
            }

            &-value {
                font-size: font-size(2);
            }

        }
    }

    &-row {
        min-height: 3.625rem;

        &_product-img {
            height: 11.875rem;
        }

        &_btn {
            height: 6.25rem;
            text-align: center;
        }

        &_calculation_wide {
            height: 5.05rem;
        }
    }

    &-column_product {
        width: 25.5rem;
    }
}
