.tabs {
    width: 100%;
    margin: 1rem;
    overflow: hidden;

    &-title {
        list-style-type: none;
    }

    &-holder {
        position: relative;
        min-height: 45rem;
    }
}

.tab {
    &-title {
        display: inline-block;
        min-width: 8.375rem;
        padding: 1.2rem 1.8rem;
        cursor: pointer;

        &.active {
            background-color: color(tabs-bg);
        }
    }

    &-item {
        position: absolute;
        right: 0;
        left: 0;
        padding: 1rem 2rem;
        pointer-events: none;
        visibility: hidden;
        background: color(tabs-bg);
        opacity: 0;
        transition: visibility 0.5s ease, opacity 0.5s ease;

        &.active {
            pointer-events: all;
            visibility: visible;
            opacity: 1;
        }

        p {
            margin-bottom: 2rem;
        }
    }
}

.review {
    &-item {
        margin: 2rem 0 4.2rem;

        @include flex(unset,normal,space-between, flex-start);
    }

    &__title {
        margin-top: 1rem;
    }

    &-content {
        width: 100%;
        padding: 1.5rem;
        background-color: color(body-bg);
    }

    &-user {
        &__name {
            margin: 1rem 0;
        }

        &-img-holder {
            width: 6rem;
            height: 5rem;
            margin-right: 1rem;
        }
    }

    &-rate-holder {
        width: 16rem;

        @include flex(unset,normal,space-between, flex-start);
    }

    &__date {
        padding-left: 1.5rem;
        font-family: font(droid_i);
        font-size: font-size(-3);
        color: color(tabs-review-date-color);
        border-left: $grayBorder;
    }

    &__rate, &__date {
        width: 50%;
    }

    &__rate {
        padding-right: 1.5rem;
    }
}

.form-add-review__title {
    width: 100%;
    margin-bottom: 1.2rem;
}

.add-review-rate-holder {
    padding: 2rem 0 1rem;

    @include flex(wrap,normal,left, flex-start);
}

@media only screen and (max-width: 480px) {
    .tabs {
        margin: 1rem 0 3rem;

        &-holder {
            min-height: 18rem;
            overflow-y: scroll;
        }
    }

    .tab-item {
        padding: 1rem;
    }
}
