.benefit {
    &-section, &-list {
        width: 100%;
    }

    &-section {
        min-height: 12.5rem;
        background-color: color(benefits-bg);

        @include flex(unset,normal,space-between,center);
    }

    &-list {
        @include flex(wrap,normal,space-between,center);
    }

    &-item {
        width: 25%;
    }

    &-link {
        display: block;
        margin-bottom: 0.5rem;

        @include flex(unset,column,center,center);

        &:hover {
            .benefit__icon, .benefit__title, .benefit__text {
                color: $main;
            }
        }
    }

    &__icon {
        font-size: font-size(5);
        color: color(benefits-icon);
    }

    &__title {
        margin-top: 1.5em;
        margin-bottom: 0.3em;
        font-weight: 600;
        color: color(benefits-title);
        text-transform: uppercase;
    }

    &__text {
        font-family: font(droid);
        font-size: font-size(-2);
        color: color(benefits-text);
        text-transform: capitalize;
    }

    &__icon, &__title, &__text {
        @include transition(color);
    }
}


@media only screen and (max-width: 320px) {
    .benefit-item {
        width: 48%;
        padding: 2rem 0;
    }
}
