.collection {
    &-list {
        background-color: color(collection-bg1);

        @include flex(unset,normal,space-between,unset);
    }

    &-item {
        width: 33%;

        &:nth-child(2) {
            background-color: color(collection-bg2);

            .collection__title {
                margin: 0.5rem 0;
                font-size: 4.5rem;
            }
        }
    }

    &-link {
        position: relative;
        width: 100%;
        min-height: 40rem;
        overflow: hidden;
        font-family: font(fjala);
        color: color(btn-color);
        text-align: center;
        text-overflow: ellipsis;
        text-transform: uppercase;
        white-space: nowrap;

        @include flex(unset,column,center,center);

        &::before {
            position: absolute;
            width: 18rem;
            height: 18rem;
            content: '';
            border: $collectionBorder;
            transform: rotate(45deg);

            @include flex(unset,normal,center,center);
            @include transition(border-color opacity);
        }

        &:hover {
            &::before {
                border-color: $main;
            }

            .collection__title {
                color: $main;
            }
        }
    }

    &__title {
        margin: 1.5rem 0;
        font-size: 2.7rem;

        @include transition(color);
    }

    &__notes {
        letter-spacing: 0.5em;
    }
}

@media only screen and (max-width: 768px) {
    .collection {
        &-link {
            min-height: 24rem;

            &::before {
                width: 12rem;
                height: 12rem;
            }
        }

        &__title, &-item:nth-child(2) .collection__title {
            margin: 0.5rem 0;
            font-size: font-size(4);
        }

        &__notes {
            font-size: font-size(-3);
        }
    }
}

@media only screen and (max-width: 480px) {
    .collection {
        &-link {
            min-height: 16rem;

            &::before {
                // z-index: -1;
                width: 6rem;
                height: 6rem;
                border-top: $collectionBorder;
                border-right: $collectionBorder;
            }

            &:hover {
                &::before {
                    border-color: $main;
                    opacity: 0.5;
                }
    
                .collection__title {
                    color: inherit;
                }
            }
        }

        &__title, &-item:nth-child(2) .collection__title {
            margin: 0.5rem 0;
            font-size: font-size(3);
            z-index: 10;
        }

        &__notes {
            font-size: font-size(-4);
            z-index: 10;
        }
    }
}
