.partners {
    &-section {
        @include flex(unset,normal,space-between,unset);
    }

    &-discount, &-block {
        width: 50%;
        padding: 4rem 0;
    }

    &-discount {
        position: relative;

        @include flex(unset,normal,center,center);

        &::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            content: "";
            background-color: color(partners-discount-bg);
            opacity: 0.9;
        }

        &-info-holder {
            width: 63.54%;
            color: color(partners-discount-color);

            @include flex(unset,column,center,center);
        }

        &__title {
            width: 100%;
            margin-bottom: 1em;
            font-weight: 600;
            color: inherit;
            text-align: center;
            text-transform: capitalize;
        }

        &__text {
            width: 100%;
            padding: 0 2rem;
            margin-bottom: 2rem;
            color: inherit;
            text-align: center;
        }
    }

    &-block {
        padding: 0 2rem;
        background-color: color(partners-block-bg);
    }

    &-list {
        width: 100%;
        height: 100%;
        list-style: none;

        @include flex(unset,row-reverse,space-between,center);
    }

    &-item {
        width: 25%;
        padding: 0 1rem;

        @include flex(unset,normal,center,center);
    }

    &__img {
        width: 100%;
        height: 100%;
        
    }
}

@media only screen and (max-width: 480px) {
    .partners {
        &-section {
            flex-wrap: wrap;
        }

        &-discount, &-block {
            width: 100%;
            padding: 2rem 0;
        }
    }
}
