mixin sliderRange()
    .slider-range-wrap
        .slider-range-holder
            .slider-range.slider-range-price
        ul.range-list
            li
            span от
            input.sm.range.input.slider-range-start(type='text' placeholder='10')
            li
            span до
            input.sm.range.input.slider-range-end(type='text' placeholder='3000')