mixin sliderRange()
    .slider-range-wrap
        .slider-range-holder
            .slider-range.slider-range-price
        .range-holder
            input.range-input.slider-range-start.side-bar__element(type='text' placeholder='$10')
            input.range-input.slider-range-end.side-bar__element(type='text' placeholder='$3000')
            batton.btn.range__btn
                i.fas.fa-search
