extends common/layout

block content 
    .holder_short_started
        +breadCrumb ('Cart', breadCrumbs)
        ul.cart-list
            li.cart-item.cart-item_table
                +cartTable(cartTableHeader,products)
            li.cart-item.cart-item_form
                h6.list-title use coupon code
                form.form_custom(action="#") 
                    label.label_cart(for=`input__coupon`) Enter Your coupon code Here
                    .btn-grp
                        input.input_custom.input_cart#input__coupon(type="text" placeholder=`Enter Your coupon code Here`)
                        button.btn.btn_cart-code apply
            li.cart-item.cart-item_form
                h6.list-title use gift voucher
                form.form_custom(action="#") 
                    label.label_cart(for=`input__gift`) Enter Your gift voucher Here
                    .btn-grp
                        input.input_custom.input_cart#input__gift(type="text" placeholder=`Enter Your gift voucher Here`)
                        button.btn.btn_cart-code apply
            li.cart-item.cart-item_form
                form.form_custom(action="#") 
                    h6.list-title Shipping Availability
                    ul.cart-shipping-list 
                        li.cart-shipping-item 
                            +cartSelect('Country', 'Viet Nam')
                        li.cart-shipping-item 
                            +cartSelect('State', 'TP.HCM')
                        li.cart-shipping-item 
                            label.label_cart Postcode / Zip
                            input.input_custom.input_cart(type="text" placeholder=`Postcode / Zip`)
                        li.cart-shipping-item 
                            input.btn_transparent.btn_shipping-form(type="submit" value="Update Totals")
            li.cart-item.cart-item_form 
                form.form_custom(action="#") 
                    h6.list-title Shopping cart calcuation
                    table.table_calculation 
                        tbody
                            tr.table-row_calculation_wide 
                                th.table-cell_calculation-key Subtotal
                                td.table-cell_calculation-value.cart__subtotal 450
                            tr
                                th.table-cell_calculation-key Coupon
                                td.table-cell_calculation-value.cart__coupon -50
                            tr.table-row_calculation_wide 
                                th.table-cell_calculation-key Shipping
                                td.table-cell_calculation-text-value Free Shipping 
                        tfoot.table_calculation_footer   
                            tr.table-row_calculation_wide 
                                th.table-cell_calculation-key Total
                                td.table-cell_calculation-value.cart__total
                    input.btn_transparent.btn_calculation-form(type="submit" value="proceed to checkout")

                            

                            
