extends common/layout

block content 
    .holder_short_started
        +breadCrumb ('Categories', breadCrumbs)
        .holder-inner-page-leftsidebar
            +sideBar()
            .holder-inner-page
                include components/sort-line
                +gridProductCard('grid','10',products)
                .pagination-line
                    +pagination(paginationList)