extends common/layout

block content 
    .holder_short_started
        //- p you`re here
        include utils/bread-crumbs
        .block-holder 
            h4 Bread crumbs:
            +breadCrumb ('user-interface', breadCrumbs)
        .block-holder 
            h4 Card markers:
            +iconBtn('card-marker', cardMarkers)
    .holder_short
        +productCard('product')
        
        
        
//-   include index/best
//-   include index/benefits
//-   include index/sale
//-   include index/featured
//-   include index/discount
