extends common/layout

block content 
    .holder_short_started
        +breadCrumb ('Cart', breadCrumbs)
        .shop-list-content
            include components/sort-line
            +shopProductCardList('shop-list',products)