extends common/layout

block content 
    .holder_short_started
        +breadCrumb ('Cart', breadCrumbs)
        .holder-inner-page
            include components/sort-line
            +shopProductCardList('shop-list',products)
            .pagination-line
                +pagination(paginationList)