extends common/layout

block content 
    .user-interface-holder
        .holder_short_started
            .block-holder 
                h4 Bread crumbs:
                +breadCrumb ('user-interface', breadCrumbs)
            .block-holder 
                h4 Card markers:
                +iconBtn('card-marker', cardMarkers)
            .block-holder 
                h4 Pagination: 
                +pagination(paginationList)
            +shopProductCard('shop')
            .block-holder 
                h4 Price filter:
                +sliderRange()
            .block-holder 
                +filterCategorie('size',sizeList)
            .block-holder 
                +filterCategorie('color',colorList)
        