mixin cartInput (code)
    h6.list-title use #{code} 
    form.form_custom(action="#") 
        label.label_cart(for=`input_cart`) Enter Your #{code} Here
        .btn-grp
            input.input_custom.input_cart-code#input_cart(type="code" placeholder=`Enter Your ${code} Here`)
            button.btn.btn_cart-code(href="#") apply