mixin partners(number)
    ul.partners-list
        - for (var x=1; x<=number; x++)
            li.partners-item
                a.partners-link(href=`${x}.html`)
                    img.partners__img(src=`img/brand-logo-${x}.png` alt=`${x}`)
