- 
  var products = [
    {
      summary: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
      name: 'Casual men wearing cool shoe',
      number: '1',
      price: '250.00',
      rate: '4.5',
      categories: 'men'
    }, 
    {
      summary: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
      name: 'Cruise Dual Analog',
      number: '2',
      price: '250.00',
      rate: '4',
      categories: 'bags'
    }, 
    {
      summary: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
      name: 'Crown Summit Backpack',
      number: '3',
      price: '250.00',
      rate: '4',
      categories: 'bags'
    }, 
    {
      summary: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
      name: 'Joust Duffle Bag',
      number: '4',
      price: '250.00',
      rate: '4',
      categories: 'bags'
    }, 
    {
      summary: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
      name: 'Voyage Yoga Bag',
      number: '5',
      price: '250.00',
      rate: '4',
      categories: 'bags'
    }, 
    {
      summary: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
      name: 'Compete Track Tote',
      number: '6',
      price: '250.00',
      rate: '4',
      categories: 'bags'
    }, 
    {
      summary: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
      name: 'Sprite Yoga Companion Kit',
      number: '7',
      price: '250.00',
      rate: '4',
      categories: 'bags'
    }, 
    {
      summary: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
      name: 'Strive Shoulder Pack',
      number: '8',
      price: '250.00',
      rate: '4',
      categories: 'bags'
    }, 
    {
      summary: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
      name: 'Impulse Duffle',
      number: '9',
      price: '250.00',
      rate: '4',
      categories: 'bags'
    }, 
    {
      summary: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
      name: 'Fusion Backpack',
      number: '10',
      price: '250.00',
      rate: '4',
      categories: 'bags'
    }, 
    {
      summary: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
      name: 'Endeavor Daytrip',
      number: '11',
      price: '250.00',
      rate: '4',
      categories: 'bags'
    }, 
    {
      summary: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
      name: 'Casual men wearing cool shoe',
      number: '12',
      price: '250.00',
      rate: '4.5',
      categories: 'men'
    }, 
    {
      summary: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
      name: 'Casual men wearing cool shoe',
      number: '13',
      price: '250.00',
      rate: '4.5',
      categories: 'men'
    }
  ];
