mixin wishlistInput (code)
    form.partners-discount-form(action="#") 
        label Enter Your #{code} Here
        input.input.partners-discount__input(type="code" placeholder=`Enter Your ${code} Here`)
        button.btn.partners-discount__btn(href="#") apply