extends ../common/layout

//- block content 
//-   include index/welcome
//-   include index/best
//-   include index/benefits
//-   include index/sale
//-   include index/featured
//-   include index/discount
