$main: #3cb878;
$gray: #777;
$lightGray: #f5f6f9;

// COLORS

$colors: (
	body-bg: white,
	body-color: black,
	header-bg: inherit,
	header-color: inherit,
	header-bg_fixed: white,
	burger-bg: $gray,
	burger-bg_hovered: $main,
	logo-bg: inherit,
	logo-color: $main,
	logo-color_hovered: inherit,
	btn-bg: $main,
	btn-color: white,
	search-input-color: #9E9C9C,
	search-input-border: $main,
	search-input-btn: $main,
	border: #efefef,
	border-dark: #a3a2a3,
	footer-bg: inherit,
	footer-color: inherit,
	social-color: inherit,
	social-color_hovered: $main,
	welcome-bg: #121212,
	welcome-color: #333,
	benefits-bg: $lightGray,
	benefits-icon: #464646,
	benefits-title: #232323,
	benefits-text: #888,
	collection-bg1: #2e3348,
	collection-bg2: #34394f,
	collection-border: #9598a3,
	partners-discount-bg: rgba(43, 46, 65, 1),
	partners-discount-color: white,
	partners-block-bg: $lightGray,
	sort-line-color: #777,
	product-categorie-color: #999,
	pagination-color_hovered: $main,
	slick-slider-btn-bg: $lightGray,
	slick-slider-btn-bg-hovered: $main,
	slick-slider-color-hovered: #fff,
	label-cart-color: #777,
	payment-description-bg: #f8f8f8,
	tabs-bg: $lightGray,
	tabs-review-date-color: #999,
	rate-border: #ff9600,
	table-row-bg: $lightGray
);

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }
  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}

// FONTS

$fonts: (
	poppins: ('Poppins', sans-serif),
	roboto: ('Roboto', sans-serif),
	droid: ('droid_serifregular', sans-serif),
	droid_i: ('droid_serifitalic', sans-serif),
	awesome: ('Font Awesome 5 Free'),
	raleway: ('Raleway', sans-serif),
	fjala: ('Fjalla One', sans-serif)
);

@function font($key) {
	@if map-has-key($fonts, $key) {
	  @return map-get($fonts, $key);
	}
	@warn "Unknown `#{$key}` in $fonts.";
	@return null;
}

$font-sizes: (
	-4: 0.6rem,
	-3: 0.75rem,
	-2: 0.8125rem,
	-1: 0.875rem,
	1: 16px,
	2: 1.125rem,
	3: 1.5rem,
	4: 1.875rem,
	5: 2rem,
	6: 3.75rem
);

@function font-size($key) {
	@if map-has-key($font-sizes, $key) {
	  @return map-get($font-sizes, $key);
	}
	@warn "Unknown `#{$key}` in $font-sizes";
	@return null;
}

$title-sizes: (
	h1: 3.75rem,
	h2: 1.875rem,
	h3: 1.5rem,
	h4: 1.125rem,
	h5: 1rem,
	h6: 0.875rem
);

@function title-size($key) {
	@if map-has-key($title-sizes, $key) {
	  @return map-get($title-sizes, $key);
	}
	@warn "Unknown `#{$key}` in $title-sizes";
	@return null;
}

$element-heights: (
	xs: 1.875rem,
	s: 2.25rem,
	m: 2.875rem,
	l: 3.25rem
);

@function element-height($key) {
	@if map-has-key($element-heights, $key) {
	  @return map-get($element-heights, $key);
	}
	@warn "Unknown `#{$key}` in $element-heights";
	@return null;
}

$grayBorder: 1px solid color(border);
$darkGrayBorder: 1px solid color(border-dark);
$collectionBorder: 10px double color(collection-border);
$orangeBorder: 1px solid color(rate-border);

$boxShadowHovered: $main;

$sbarElHeight: 1.875rem;
$cardElHeight: 2.875rem;
$cardElHolderWidth: 41%;
