.best-section
    .holder_main
        .best-info-holder
            h2.best__title Best sellers
            span.under-title-text 
                i The best productions from us
            p.best__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        +bestProductCard('best', products)
        
