.collection-section
    ul.collection-list
        li.collection-item 
            .rhomb 
                .collection__title 
                    div fashion
                    summer & autumn
                    div winter collection
        li.collection-item 
            .rhomb 
                .collection__title 
                    div fashion for men
                    summer & autumn
                    div winter collection
        li.collection-item 
            .rhomb 
                .collection__title 
                    div fashion
                    summer & autumn
                    div winter collection