.section-discount
    .coupon-iformation-block 
        .coupon-information-holder 
            h2.coupon-title
            p.description Donec eu tristique felis. Duis augue mi, auctor ut purus et, dignissim aliquet quam. register your email for news and special offers
            form.coupon-form(action="#")
                input.coupon__input(type="email" placeholder="Email")
                button.btn.coupon__btn(href="#") get coupon now
    .partners-block    
        .partners-information-holder
            +partners(4)