.partners-section
    .partners-discount
        img.partners-discount__img(src='../../img/discount-bg.png' alt='discount')
        .partners-discount-info-holder 
            h2.partners-discount__title Get Out Special Discount
            p.description.partners-discount__text Donec eu tristique felis. Duis augue mi, auctor ut purus et, dignissim aliquet quam. register your email for news and special offers
            form.form_custom.form_partners(action="#")
                input.input_custom.input_partners-discount(type="email" placeholder="E-mail address")
                button.btn.btn_partners-discount(href="#") get coupon now
    .partners-block
        +partners(4)