.featured-section 
    .holder_main_centered
        .featured-title-holder
            h2.featured__title
                b Featured Products
            .under-title-text
                i Newest trends from top brands
        +featuredProductCard('featured', products)
        
        
