.section-featured
    .holder-main_centered
        h2.section-featured__title
            b Featured Products
        span.under-title-text
            i Newest trends from top brands
        +featuredProductCard('featured', products)
        
        
