.welcome-section 
    .holder_short_centered
        .welcome-information-holder 
            h1.welcome-title 
                b The Best
                b Woocommerce
            p.welcome__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            button.welcome__btn Buy Now
