footer.footer
  .edge_white
    .holder_short
      p We’re confident we’ve provided all the best for you. Stay connect with us
      +socials(socialList)
  .main-footer-area
    .holder_short
      +navList('footer', informationList)
      +navList('footer', userAccountList)
      +navList('footer', helpList)
      +contacts('footer', contactList)
  .edge_black
    .holder_main 
      p Copyright 2017 RenoshopBee all right reserved  -  Design by BeeStudios
      +paymentCards(paymentCardsList)