footer.footer
  .edge_white
    .holder_short_centered
      p.footer-socials-text We’re confident we’ve provided all the best for you. Stay connect with us
      .footer-socials-holder 
        +socials(socialList)
  .main-footer-area
    .holder_short_started
      +navList('footer', informationList)
      +navList('footer', userAccountList)
      +navList('footer', helpList)
      +contacts('footer', contactList)
  .edge_black
    .holder_short_centered 
      span.copyright Copyright 2017 RenoshopBee all right reserved  -  Design by BeeStudios
      .footer-cards-holder
        +paymentCards(paymentCardsList)