header.header
  .edge_black 
    .holder_main
      +contacts('header', contactList)
      .header-socials-holder
        +socials(socialList)
  .main-header-area 
    .holder_main
      a.logo(href="index.html") 
        b Renoshop
      +navList('header', headerNavList)
      +iconBtn('header-btn', headerBtnList)
  .search-form-wrapper
    form.search-form(action='#')
      input.search-form__input(type='text' placeholder='Search here...')
      button.search-form__btn(type='submit')
        i.fas.fa-search
.side-bar-start 
  .side-bar-wrapper
    include right-side-bar