title Renoshop
meta(name='description' content='')
meta(charset='utf-8')
meta(name='keywords' content='')
meta(name='viewport' content='width=device-width, initial-scale=1.0, target-densitydpi=device-dpi, user-scalable=yes')
meta(name='apple-mobile-web-app-capable' content='yes')
meta(name='apple-mobile-web-app-status-bar-style' content='black')
meta(name='format-detection' content='telephone=no')
link(href='' rel='shortcut icon')
link(rel='stylesheet' href='../css/normalize.css')
link(rel='stylesheet' href='../css/main.css')
link(rel='preconnect' href='https://fonts.googleapis.com')
link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
link(href='https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500&family=Raleway:wght@600&display=swap' rel='stylesheet')
link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.1/css/all.css' integrity='sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP' crossorigin='anonymous')
