header.header
  .edge_black 
    .holder_main_centered
      +contacts('header', contactList)
      +workList(workNavList)
      .header-socials-holder
        +socials(socialList)
  .main-header-area 
    .holder_main_centered
      a.logo(href="index.html") 
        b Renoshop
      +navList('header', headerNavList)
      a.btn_menu
        span
      +iconBtn('header-btn', headerBtnList)
  .wrapper.wrapper_search-form
    form.search-form(action='#')
      input.search-form__input(type='text' placeholder='Search here...')
      button.search-form__btn(type='submit')
        i.fas.fa-search
.side-bar-start 
  .wrapper.wrapper_side-bar_right
    include right-side-bar
  .wrapper.wrapper_table_short
    +shortCartTable(products)