header.header
  .edge_black 
    .holder_main
      +contacts('header', contactList)
      +socials(socialList)
  .main-header-area 
    .holder_main
      a.logo(href="index.html") Renoshop
      +navList('header', headerNavList)
      +headerNavBtn(navBtnList)