header.header
  .edge_black 
    .holder_main
      +contacts('header', contactList)
      .header-socials-holder
        +socials(socialList)
  .main-header-area 
    .holder_main
      a.logo(href="index.html") 
        b Renoshop
      +navList('header', headerNavList)
      +headerNavBtn(navBtnList)