ul.side-bar 
    li.side-bar-item
        +categoriesList('categories', categorieList)
    li.side-bar-item
        +topList('top', products)
    li.add-holder
        img.add__img(src='../../img/discount-add.png' alt='advert')
        .add-slogan
            ul.star-list 
                - for (var x = 0; x < 3; x++)
                    li.star-item
                        i.fas.fa-star
            span.add__info Up to 30% off
            .add__line 
            span.add__description Hot & Trendy Clother
