html {
    font-size: font-size(1);
    width: 1920px;
}

body {
    width: 100%;
    font-family: font(poppins);
    color: color(body-color);
    background-color: color(body-bg);
    -webkit-font-smoothing: antialiased;
}



b {
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: none;
}

// h1, h2, h3 {
//     font-family: font(gelasio);
// }

h2, h3, h4 {
    font-weight: 500;
}

h1 {
    font-size: title-size(h1);
}

h2 {
    font-size: title-size(h2);
    text-align: center;
}

h3 {
    font-size: title-size(h3);
}

h4 {
    font-size: title-size(h4);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.edge {
    &_white {
        border-top: $grayBorder;
        border-bottom: $grayBorder;

        @include edge-color(white);
    }

    &_black {
        @include edge-color(black);
    }
}

%with-holder {
    height: 100%;
    margin: 0 auto;
    @include flex(wrap,normal,space-between,center);
}

.holder {
    &_main {
        width: 111.5rem;
        @extend %with-holder;
    }

    &_short {
        position: relative;
        width: 73.25rem;
        @extend %with-holder;
    }
}

.list-title {
    font-family: font(poppins);
    font-weight: 600;
    text-transform: uppercase;
    list-style-type: none !important;
}
